:root {

    /* charcoal */
    --nj-charcoal: rgba(32, 32, 32, 1.0);
    --nj-charcoal-5: rgba(32, 32, 32, 0.05);
    --nj-charcoal-10: rgba(32, 32, 32, 0.1);
    --nj-charcoal-20: rgba(32, 32, 32, 0.2);
    --nj-charcoal-30: rgba(32, 32, 32, 0.3);
    --nj-charcoal-40: rgba(32, 32, 32, 0.4);
    --nj-charcoal-50: rgba(32, 32, 32, 0.5);
    --nj-charcoal-60: rgba(32, 32, 32, 0.6);
    --nj-charcoal-70: rgba(32, 32, 32, 0.7);
    --nj-charcoal-80: rgba(32, 32, 32, 0.8);
    --nj-charcoal-90: rgba(32, 32, 32, 0.9);



    /* chocolate */
    --nj-chocolate: rgba(120, 68, 33, 1.0);

    --nj-ruby: rgba(160, 44, 44, 1.0);

    /* semi-grey */
    --nj-semi-grey: rgba(78, 78, 78, 1.0);

    /* sky */
    --nj-sky: rgba(85, 153, 255, 1.0);



    /* mud */
    --nj-mud: rgba(145, 111, 111, 1.0);
    --nj-mud-alpha: rgba(145, 111, 111, 0.9);
    --nj-mud-highlight: rgb(179, 157, 157);
  }