/* I LOVE GLITTER */
@font-face {
    font-family: Glitter;
    src: url(../font/i-love-glitter.ttf);
}

/* LOBSTER */
@font-face {
    font-family: Lobster;
    src: url(../font/lobster-regular.ttf);
}