/* EXTERNAL */
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/* ADDINGTON CF THIN */
@font-face {
    font-family: 'Addington Cf Thin';
    src: url(../font/addington-cf-thin.ttf);
}

/* I LOVE GLITTER */
@font-face {
    font-family: Glitter;
    src: url(../font/i-love-glitter.ttf);
}

/* LOBSTER */
@font-face {
    font-family: Lobster;
    src: url(../font/lobster-regular.ttf);
}

/* ROBOTO */
@font-face {
    font-family: Roboto;
    src: url(../font/roboto-regular.ttf);
}

/* VOGA */
@font-face {
    font-family: Voga;
    src: url(../font/voga-medium.ttf);
}