/*
 * home
 */
/* XS ----------------------------------------------------------------------------------------- */
.xs-top-bar-title {

  margin: auto;
  font-family: 'Glitter';

  color: var(--nj-charcoal);
  text-align: center;
  user-select: none;
}

.xs-home-title {

  color: var(--nj-ruby);
  font-size: 2em;
  font-family: 'Lobster';
  text-align: center;
}

.xs-home-divider {

  display: block;
  width: 4em;
  height: auto;
  margin: auto;
}

.xs-home-paragraph {

  color: var(--nj-semi-grey);
  font-size: 1.1em;
  font-family: 'Addington Cf Thin';
  line-height: 1.2;
  text-align: center;
  white-space: pre-wrap;
}

.xs-home-list {

  color: var(--nj-semi-grey);
  font-size: 1.1em;
  font-family: 'Addington Cf Thin';
  line-height: 1.2;
  white-space: pre-wrap;
}

.xs-home-gift-link {

  display: block;
  text-align: center;
}

.xs-home-event-info {

  box-shadow: 0 10px 12px 3px var(--nj-charcoal-20);
}

.xs-home-menu-btn {

  z-index: 47;
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: block;
  text-align: center;
  border-radius: 80px;
  background-color: var(--nj-mud);
  box-shadow: 1px 1px 6px 2px var(--nj-charcoal-40);

  transform: scale(1, 1) translate3d(0, 0, 0);
}

.xs-home-menu-btn:active {

  background-color: var(--nj-mud-highlight);

  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transition-property: all;
  transition-duration: 350ms;
  transition-timing-function: ease-in-out;
}

/* SM ----------------------------------------------------------------------------------------- */
.sm-top-bar-title {

  margin: auto;
  font-family: 'Glitter';

  color: var(--nj-charcoal);
  text-align: center;
  user-select: none;
}

#open-btn, #close-btn {

  cursor: pointer;
}

#menu-overlay {

  display: none;
  width: 360px;
  position: fixed;
  top: calc(48px + 6px);
  left: 0;
  padding: 24px;
  background-color: var(--nj-mud);
}

.sm-menu-list {

  padding-left: 0;
  list-style-type: none;
}

.sm-menu-list-item {

  color: white;
  text-decoration: none;
  font-family: 'Addington Cf Thin';
}

.sm-menu-list-item-description {

  font-size: smaller;
}