/*
 * home
 */
 .xs-top-bar-title {

    margin: auto;
    font-family: 'Glitter';

    color: var(--nj-charcoal);
    text-align: center;
 }

 .xs-home-title {

   color: var(--nj-ruby);
   font-size: 2em;
   font-family: 'Lobster';
   text-align: center;
 }

 .xs-home-divider {

   display: block;
   width: 4em;
   height: auto;
   margin: auto;
 }

 .xs-home-paragraph {

   color: var(--nj-semi-grey);
   font-size: 1.1em;
   font-family: 'Addington Cf Thin';
   line-height: 1.2;
   text-align: center;
   white-space: pre-wrap;
 }

 .xs-home-list {

  color: var(--nj-semi-grey);
  font-size: 1.1em;
  font-family: 'Addington Cf Thin';
  line-height: 1.2;
  white-space: pre-wrap;
}

.xs-home-gift-link {

  display: block;
  text-align: center;
}