/*
 * playlist
 */
.xs-playlist-bg {

    color: var(--nj-charcoal);
    font-family: 'Addington Cf Thin';
}

.xs-playlist-top-title {

    margin: auto;
    font-family: 'Glitter';

    color: var(--nj-charcoal);
    text-align: center;
}

.xs-playlist-divider {

    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: var(--nj-charcoal);
}

.xs-playlist-title {

    font-size: 3em;
    text-align: center;
    font-family: 'Voga';
    letter-spacing: 4px;
}

.xs-playlist-subtitle {

    text-align: center;
    font-family: 'Voga';
}

.xs-playlist-bottom-links {

    color: white;
    background-color: var(--nj-charcoal);
}

.xs-playlist-bottom-links-heading {

    font-size: 1.1em;
    text-align: center;
}

.xs-playlist-link {

    display: block;
    text-align: center;
  }

.xs-playlist-title {

    font-size: 3em;
    text-align: center;
    font-family: 'Voga';
    letter-spacing: 4px;
}

.xs-playlist-subtitle {

    text-align: center;
    font-family: 'Voga';
}

.xs-playlist-list {

    list-style-type: square;
}