/*
 * tcs
 */
.xs-playlist-bg {

    color: white;
    height: 100vh;
    min-height: 100vh;
    max-height: 200vh;
    font-family: 'Addington Cf Thin';

    background-size: cover;
    background-position: top;
    background-repeat: repeat-y;
    background-image: url(../img/xs/tcs-bg-img.JPG);

    box-shadow: inset 0 0 0 1000px var(--nj-mud-alpha);
}

.xs-playlist-top-title {

    margin: auto;
    font-family: 'Glitter';

    color: var(--nj-charcoal);
    text-align: center;
}

.xs-playlist-divider {

    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: var(--nj-charcoal);
}

.xs-playlist-title {

    font-size: 3em;
    text-align: center;
    font-family: 'Voga';
    letter-spacing: 4px;
}

.xs-playlist-subtitle {

    text-align: center;
    font-family: 'Voga';
}

.xs-playlist-list {

    list-style-type: square;
}