/*
 * guest
 */
 .xs-seat-bg {

    color: white;
    text-align: center;
    background-color: var(--nj-mud);
    font-family: 'Addington Cf Thin';
}

.xs-seat-divider {

    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: white;
}

.xs-seat-top-title {

    margin: auto;
    font-family: 'Glitter';
    text-align: center;
}

.xs-seat-title {

    font-size: 3em;
    letter-spacing: 4px;
}

.xs-seat-list-alphabet {

    width: 1em;
    text-align: start;

    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: white;
}

.xs-seat-list-alphabet-table-data {

    color: white;
}

.xs-seat-list-alphabet-table-data-center {

    text-align: center;
}