<div class="container-fluid">

    <!-- small -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nj-title">
            <p>small</p>
        </div>
    </div>

    <!-- medium -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nj-title">
            <p>medium</p>
        </div>
    </div>

    <!-- large -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nj-title">
            <p>login</p>
        </div>
    </div>

    <!-- extra large -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nj-title">
            <p>extra large</p>
        </div>
    </div>
</div>