<div class="container-fluid g-0 xs-schedule-bg">



    <!-- n&n -->
    <div class="row mb-3"><div class="col xs-schedule-divider"><div class="px-2 py-2 mx-auto">
        <h1 class="xs-schedule-top-title">n&n</h1>
    </div></div></div>


    
    <!-- playlist -->
    <div class="row"><div class="col"><div class="mt-3 mx-auto px-4">
        <h1 class="xs-schedule-title text-decoration-underline">Schedule</h1>
    </div></div></div>



    <!-- get to know -->
    <div class="row"><div class="col"><div class="mx-auto px-5">
        <p class="xs-schedule-subtitle">The business of the day &#40;arrive on time&#41;. If you need a place to stay overnight,
            there is an affordable guest house next to the venue. The details of the guest house are below.</p>
    </div></div></div>


    <div class="row mt-3 mx-3">
        <div class="col">
    
            <table class="table table-fit table-bordered">
    
                <tbody>

                    <tr>
                        <td class="xs-schedule-table-data-center p-3">09:45</td>
                        <td class="p-3">Arrival</td>
                    </tr>

                    <tr>
                        <td class="xs-schedule-table-data-center p-3">10:00</td>
                        <td class="p-3">Chapel</td>
                    </tr>

                    <tr>
                        <td class="xs-schedule-table-data-center p-3">--</td>
                        <td class="p-3">Say cheese</td>
                    </tr>


                    <tr>
                        <td class="xs-schedule-table-data-center p-3">--</td>
                        <td class="p-3">Lunch time</td>
                    </tr>

                    <tr>
                        <td class="xs-schedule-table-data-center p-3">--</td>
                        <td class="p-3">Toast &#x1f942;</td>
                    </tr>

                    
                    <tr>
                        <td class="xs-schedule-table-data-center p-3">--</td>
                        <td class="p-3">Good times</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- bottom links -->
    <div class="row xs-schedule-bottom-links mt-4 pb-5">
        <div class="col pb-5">



            <!-- guest house -->
            <div class="row mt-4">
                <div class="col">
                    <div class="mx-auto px-4">
                        <p class="xs-schedule-bottom-links-heading">Guest house</p>
                    </div>
                </div>
            </div>


            <!-- guest house name -->
            <div class="row mt-4">
                <div class="col">
                    <div class="mx-auto px-4">
                        <p class="xs-schedule-bottom-links-heading">The Orchards Executive Accommodation</p>
                    </div>
                </div>
            </div>



            <!-- guest house contact -->
            <div class="row my-2">

                <div class="col">
                    <div class="mx-auto ps-4 pe-3 pt-3 pb-3">
                        <p class="xs-schedule-text-left">Contact number</p>
                    </div>
                </div>

                <div class="col">
                    <div class="mx-auto p-3">
                        <p class="xs-schedule-text-right">+27 82 223 5151</p>
                    </div>
                </div>
            </div>



            <!-- guest house contact -->
            <div class="row my-2">
                    
                <div class="col">
                    <div class="mx-auto ps-4 pe-3 pt-3 pb-3">
                        <p class="xs-schedule-text-left">Email</p>
                    </div>
                </div>

                <div class="col">
                    <div class="mx-auto p-3">
                        <p class="xs-schedule-text-right">theorchardsmidrand@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- menu btn -->
    <div class="row">
        <div class="col">
            <router-link to="/menu">
                <div class="xs-home-menu-btn mx-auto">
                    <img src="svg/xs/menu-btn.svg" alt="menu-btn" width="48" height="48" />
                </div>
            </router-link>
        </div>
    </div>
</div>