<div class="row mt-5">
    <div class="col">
        <h1 class="xs-seat-list-alphabet ms-4">#letter</h1>
    </div>
</div>

<div class="row mt-3 mx-3">
    <div class="col">

        <table class="table table-bordered">

            <tbody>

                <!-- full name -->
                <tr>
                    <td class="xs-seat-list-alphabet-table-data p-3" colspan="10">#full-name</td>
                </tr>

                <!-- meta -->
                <tr>
                    <td class="xs-seat-list-alphabet-table-data p-3" colspan="4">Attending</td>
                    <td class="xs-seat-list-alphabet-table-data xs-seat-list-alphabet-table-data-center p-3" colspan="2">#attending</td>
                    <td class="xs-seat-list-alphabet-table-data xs-seat-list-alphabet-table-data-center p-3" colspan="4">#relationship</td>
                </tr>

                <!-- seat number -->
                <tr>
                    <td class="xs-seat-list-alphabet-table-data p-3" colspan="6">Table number</td>
                    <td class="xs-seat-list-alphabet-table-data xs-seat-list-alphabet-table-data-center p-3" colspan="4">#table</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>